@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.main {
  padding-bottom: 60px;

  .container {
    .main-carousel-items {
      position: relative;

      img {
        max-width: 1239px;
      }

      .main-carousel-arrows {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        a {
          cursor: pointer;
          padding: 30px 13px;
          z-index: 2;
        }
      }
    }
  }
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    .services-title {
      @include lora-38;
      margin-bottom: 40px;
    }

    .services-items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .services-item {
        width: 291px;
        height: 498px;

        .services-item-image {
          width: 291px;
          height: 291px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 5px;
          margin-bottom: 15px;
        }

        .services-item-title {
          @include montserrat-500-20;
          color: $blue-color;
          margin-bottom: 10px;
        }

        .services-item-text {
          height: 90px;
          margin-bottom: 15px;
        }

        .price-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .price {
            @include montserrat-600-20;
            color: $blue-color;
          }

          .detail {
            display: flex;
            max-width: 163px;
            font-size: 16px;
          }
        }

      }
    }
  }
}

.about-us {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $dark-color;

  .container {
    display: flex;

    .about-us-image {
      min-width: 460px;
      height: 453px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
      margin-right: 68px;
    }

    .advantages-info {
      .advantages-info-title {
        @include lora-38;
        margin-bottom: 20px;
      }

      .advantages-info-text {
        width: 633px;
        margin-bottom: 40px;

        span {
          @include montserrat-500-14;
        }
      }

      .advantages-extra {
        .advantages-extra-title {
          @include lora-26;
          margin-bottom: 20px;
        }

        .advantages-extra-items {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .advantages-extra-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 316px;
            height: 90px;


            &:nth-child(1),
            &:nth-child(2) {
              margin-bottom: 20px;
            }

            &:nth-child(2n) {
              margin-left: 71px;
            }

            .advantages-extra-item-number {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $light-blue-color;
              @include lora-50;
              text-align: center;
              line-height: 25px;
            }

            .advantages-extra-item-text {
              width: 256px;

              span {
                @include montserrat-500-14;
              }
            }
          }
        }
      }
    }
  }
}

.top-articles {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    .top-articles-title {
      @include lora-38;
      margin-bottom: 40px;
    }

    .top-articles-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .top-article-blog {
      @include montserrat-500-20;
      color: $blue-color;
      display: flex;
      justify-content: right;
      align-items: center;

      svg {
        margin-left: 19px;
      }
    }
  }
}

.reviews {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {

    .reviews-title {
      @include lora-38;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;
      height: 269px;

      .reviews-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        box-sizing: border-box;
        border: 2px solid $blue-color;
        border-radius: 5px;
        background: rgb(255, 255, 255);

        .user {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .name {
            @include montserrat-600-18;
            color: $blue-color;
          }
        }

        .user-review {
          font-size: 16px;
        }
      }

      .reviews-carousel-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;
          z-index: 3;

          &.move-backward {
            left: -25px;
          }

          &.move-forward {
            right: -25px;
          }
        }
      }

    }

  }
}

.map {
  padding-top: 60px;
  padding-bottom: 120px;

  .container {
    display: flex;

    .map-map {
      margin-right: 26px;
    }

    .map-info {
      .map-info-title {
        @include lora-38;
        margin-bottom: 20px;
      }

      .item {
        display: block;
        margin-bottom: 20px;

        .title {
          @include montserrat-500-20;
          margin-bottom: 10px;
          color: $blue-color;
        }

        .info {
          max-width: 490px;
        }

        .icons {
          a {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
